basePath: /api/v1
definitions:
  dto.RegisterUserRequest:
    properties:
      email:
        type: string
      password:
        minLength: 8
        type: string
      phone:
        type: string
      user_name:
        type: string
    required:
    - email
    - password
    - phone
    - user_name
    type: object
  dto.UpdateUserRequest:
    properties:
      email:
        type: string
      phone:
        type: string
      user_name:
        type: string
    type: object
  dto.UserResponse:
    properties:
      created_at:
        type: string
      email:
        type: string
      id:
        type: integer
      phone:
        type: string
      user_name:
        type: string
      user_status:
        type: string
    type: object
host: localhost:8080
info:
  contact:
    email: support@docpad.bd
    name: DocPad Support
  description: The core API for DocPad, managing patient records, scheduling, and
    prescriptions for the Bangladeshi demographic.
  title: DocPad Hospital Management API
  version: "1.0"
paths:
  /health:
    get:
      consumes:
      - application/json
      description: Provides a simple UP/DOWN status and service identification.
      produces:
      - application/json
      responses:
        "200":
          description: Successful response indicating API status is UP.
          schema:
            properties:
              environment:
                type: string
              service:
                type: string
              status:
                type: string
            type: object
      summary: Check the status and uptime of the API server.
      tags:
      - System
  /user:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/dto.UserResponse'
            type: array
      summary: List active users
      tags:
      - user
    post:
      consumes:
      - application/json
      parameters:
      - description: User Data
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/dto.RegisterUserRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/dto.UserResponse'
      summary: Register a new user
      tags:
      - user
  /user/{id}:
    delete:
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      responses:
        "204":
          description: No Content
      summary: Soft delete user
      tags:
      - user
    get:
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.UserResponse'
      summary: Get user by ID
      tags:
      - user
    patch:
      consumes:
      - application/json
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      - description: Fields to update
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/dto.UpdateUserRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.UserResponse'
      summary: Update user partially
      tags:
      - user
  /user/{id}/prune:
    delete:
      description: Hard deletes a user record from the database. This action cannot
        be undone.
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      responses:
        "204":
          description: User permanently deleted
          schema:
            type: string
        "400":
          description: Invalid ID
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Permanently delete a user
      tags:
      - user
  /user/trash:
    get:
      description: Retrieves all users where deleted_at is not null
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/dto.UserResponse'
            type: array
      summary: List soft-deleted users
      tags:
      - user
schemes:
- http
securityDefinitions:
  BearerAuth:
    description: Type "Bearer" followed by a space and JWT token.
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
